.carousel {
  width: 100% !important;
  height: 40vh;
}
.carousel img {
  width: 100% !important;
  height: 100% !important;
}

.carousel .carousel-item {
  width: 100% !important;
  height: 40vh !important;
}
